<h1>Nos services</h1>
<div><%= link_to 'New Service', new_service_path, :class=>"btn btn-primary" %>
</div>

<div>
<% @services.each do |service| %>
  <div class="card">

      <h5><%= service.name %></h5>
      <p><%= service.time %></p>
<%= link_to 'voir le détail', service  %>
    <% end %>
  </div>
</div>
